# Python Course 2026 - Basic concepts

## Exceuting code - where and how

Where?

- IDE (Integrated development environment)
    - Spyder, VScode, Pycharm
- .py vs .ipynb

How?

- From the top, fortunately
- Input and output

In [ ]:
print("Hello world")

## Syntax

Variables and types

In [ ]:
a = 5
b = [5.1, 'hello']
print(type(a), type(b), type(b[0]), type(b[1]))

<class 'int'> <class 'list'> <class 'float'>

Case sensitive (and error messages)

In [10]:
print(A)

NameError: name 'A' is not defined

Indexing and function calls (and comments)

In [13]:
#lets make a list we can index

L = [1,2,3,4,5]

print(L[0])
print(L[-1])

1
5

Logic and loops (and indents)

In [ ]:
for element in L:
    if element**2 > 10:
        print(element)

4
5

In [ ]:
c = 1

while c < 100:
    c = c + c
    print(c)

2
4
8
16
32
64
128

Functions

In [1]:
def my_function(arg1, arg2):
    output = str(arg1) + " " + str(arg2)
    return output

In [2]:
str1 = 'Halli'
str2 = 'Hallo'

my_function(str1, str2)

'Halli Hallo'

Instances and built-in functions

In [14]:
str_var = " Hello Python people"

print(str_var.upper())
print(str_var.strip())

 HELLO PYTHON PEOPLE
Hello Python people

## Packages

In [12]:
import pandas as pd
import numpy as np

In [15]:
pd.read_csv(r"C:\Users\b061621\Documents\GitHub\python-kursus-nfa\Kursus2025\Data\BA_Accidents.csv")

,Accident_Index,Number_of_Vehicles,Number_of_Casualties,Date,Time,Speed_limit,Road_conditions,Weather_conditions,Day,Road_type,Light_conditions
0,197901A1SEE71,2,1,1979-01-01,18:20,50.0,Snow,Unknown,Monday,Dual carriageway,Darkness lights lit
1,197901A2JDW40,1,1,1979-02-01,09:15,30.0,Snow,Unknown,Tuesday,Unknown,Daylight
2,197901A4IJV90,2,1,1979-04-01,08:45,30.0,Snow,Unknown,Thursday,Unknown,Daylight
3,197901A4NIE33,2,1,1979-04-01,13:40,30.0,Wet,Unknown,Thursday,Unknown,Daylight
4,197901A4SKO47,2,1,1979-04-01,18:50,30.0,Wet,Unknown,Thursday,Unknown,Darkness lights lit
...,...,...,...,...,...,...,...,...,...,...,...
827856,2018983118818,2,1,2018-02-07,14:55,30.0,Dry,Clear,Monday,Single carriageway,Daylight
827857,2018983119218,2,1,2018-07-24,07:45,30.0,Dry,Clear,Tuesday,Single carriageway,Daylight
827858,2018983120618,2,1,2018-10-08,13:25,20.0,Dry,Clear,Friday,Single carriageway,Daylight
827859,2018983121918,2,1,2018-07-18,21:10,30.0,Dry,Clear,Wednesday,Single carriageway,Daylight
827860,2018983133818,2,1,2018-12-20,15:14,30.0,Wet,Rain,Thursday,Single carriageway,Daylight

In [1]:
!pip install pyjokes

Requirement already satisfied: pyjokes in c:\users\b061621\appdata\local\anaconda3\lib\site-packages (0.6.0)

In [5]:
import pyjokes
print(pyjokes.get_joke())

There are only two hard problems in Computer Science: cache invalidation, naming things and off-by-one-errors.

https://pyjok.es